@import url("https://fontsapi.zeoseven.com/192/main/result.css");

* {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

::selection {
  background: var(--color-neutral-02a);
}

html {
  font-size: 16px;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  cursor: crosshair;
  touch-action: manipulation;
  overscroll-behavior: contain;
  scrollbar-color: var(--color-neutral-080) transparent;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
}
body {
  font: 1rem/1.5 var(--font-sans);
  font-feature-settings: var(--font-feature);
  color: var(--color-neutral-030);
  background: #fff;
  transition: .2s ease-in-out;
  transition-property: opacity;
}

a {
  color: var(--color-neutral-060);
  text-decoration: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  transition-property: color, background, opacity;
}
@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: var(--color-neutral-030);
  }
}

figure {
  display: grid;
  place-items: center;
  transition: var(--transition);
  transition-property: opacity;
}
img {
  max-width: 100%;
  object-fit: cover;
}
svg {
  width: 1rem;
  height: 1rem;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: var(--transition);
  transition-property: color, opacity;
}
path {
  transition: var(--transition);
  transition-property: opacity;
}

p {
  transition: var(--transition);
  transition-property: color, background;
}
li {
  list-style-type: none;
}

form {
  display: block;
  margin: 0;
  padding: 0;
  font-size: .875rem;
  border-top: 0px solid var(--color-neutral-080);
  transition: var(--transition);
  transition-property: inset, opacity, transform;
}
fieldset {
  display: block;
  min-width: 0;
}
label {
  position: relative;
  font: .875rem / 1 var(--font-sans);
}
button, input, textarea {
  padding: .5rem;
  font-family: var(--font-sans);
  font-feature-settings: var(--font-feature);
  font-size: .875rem;
  line-height: 1;
  color: var(--color-neutral-030);
  background: var(--color-neutral-100);
  border-radius: var(--radius);
  transition: var(--transition);
  transition-property: color, background, border, opacity;
}
button {
  display: inline-flex;
  align-items: center;
  background: var(--color-neutral-01a);
  border-radius: 50%;
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  button:hover {
    color: #fff;
    background: var(--color-neutral-00a);
  }
}
button:active {
  color: #fff;
  background: var(--color-neutral-030);
}
button:disabled svg:first-child {
  opacity: 0;
}
button:disabled svg:last-child {
  opacity: 1;
}
input {
  height: 1.875rem;
}
label input {
  padding: .5rem 2rem .5rem .5rem;
}
input:read-only {
  caret-color: transparent;
}
input[type="number"] {
  appearance: textfield;
}
input[type="radio"] {
  display: none;
}
input[type="date"] {
  padding: .25rem .25rem .25rem .3125rem;
  cursor: pointer;
}
input + .label {
  position: absolute;
  inset: 0 .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-neutral-070);
  pointer-events: none;
}
input + .label svg {
  color: var(--color-neutral-050);
}
input + .label::before {
  transition: var(--transition);
  transition-property: opacity;
}
input:focus + .label::before, input:not(:placeholder-shown) + .label::before {
  opacity: 0;
}
@media (hover: hover) and (pointer: fine) {
  input:hover, textarea:hover {
    background: var(--color-neutral-095);
  }
}
input:focus, textarea:focus {
  background: var(--color-neutral-090);
}
input:disabled, textarea:disabled {
  opacity: 1;
}
input::placeholder, textarea::placeholder {
  color: var(--color-neutral-070);
}
textarea {
  width: 100%;
  min-height: 9rem;
  line-height: 1.5;
  resize: none;
}

#app {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

dialog::backdrop {
  opacity: 0;
}
dialog form {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: var(--color-neutral-01a);
  backdrop-filter: blur(.5rem);
  z-index: 1;
}
dialog label:has(input[readonly]) {
  animation: shake .6s linear;
}
dialog input:disabled + .label svg:first-child {
  opacity: 0;
}
dialog input:disabled + .label svg:last-child {
  opacity: 1;
}
dialog input {
  background: var(--color-neutral-100) !important;
}
dialog .label::before {
  content: "输入口令";
}
dialog .spinner {
  right: 0;
}

header {
  flex: 0 0 35vw;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem var(--padding);
  height: 100dvh;
}
header h1 {
  margin: -.1875rem 0 0 -.05em;
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 300;
  line-height: 1.25;
}
header h1 span {
  display: block;
}
header h1 strong {
  font-weight: inherit;
  color: hsl(40 100 65);
}
header p {
  display: grid;
  grid-template-columns: 3.25rem 1.25rem;
  align-items: center;
  gap: .5rem;
  margin: 1.5rem 0 0;
  font-family: "Yozai", var(--font-sans);
  color: var(--color-neutral-060);
}
header p button, header p a {
  grid-area: 1 / 2;
  display: inline-flex;
  padding: .125rem;
  background: transparent;
  border-radius: 50%;
  color: var(--color-neutral-060);
}
header p button, [data-auth][data-mode] header p button, [data-auth] header p a {
  opacity: 0;
  pointer-events: none;
}
@media (hover: hover) and (pointer: fine) {
  header p a:hover {
    color: #fff;
    background: var(--color-neutral-00a);
  }
}
header p a:active {
  color: #fff;
  background: var(--color-neutral-030);
}
[data-auth] header p button, [data-auth][data-mode="view"] header p a {
  opacity: 1;
  pointer-events: all;
}

header form {
  position: absolute;
  inset: auto var(--padding) 2rem;
}
[data-mode] [name="filter"], [name="import"] {
  opacity: 0;
  transform: translateY(-5rem);
  pointer-events: none;
}
[name="import"] {
  transform: translateY(5rem);
}
[data-mode="save"] [name="import"] {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
[name="filter"] > div {
  display: flex;
  gap: .5rem;
  margin: .5rem 0 0;
}
[name="filter"] input {
  width: 12.375rem;
}
[name="filter"] button {
  margin: 0 0 0 .75rem;
  padding: .4375rem;
  color: var(--color-neutral-070);
  background: var(--color-neutral-100);
  border-radius: var(--radius);
  pointer-events: none;
}
[name="filter"] button:hover {
  background: var(--color-neutral-050);
}
[name="filter"] button:active {
  background: var(--color-neutral-030);
}
[name="filter"]:has(input:not(:placeholder-shown)) button {
  color: var(--color-neutral-050);
  background: var(--color-neutral-01a);
  pointer-events: all;
}
[name="filter"] .select {
  width: 2.75rem;
  color: var(--color-neutral-030);
}
[name="filter"] .select [role="listbox"] {
  top: unset;
  bottom: calc(100% + .5rem);
}
[name="filter"] .select [role="listbox"],
[name="filter"] .select:focus-within input {
  background: var(--color-neutral-090);
}
[name="search"] + .label::before {
  content: "查询书名作者简介";
}
[name="urls"] {
  display: block;
  font: .75rem / 1.5 var(--font-mono);
  white-space: nowrap;
}
[name="urls"].hidden {
  opacity: 1 !important;
  color: transparent;
}
[name="import"] button {
  position: absolute;
  inset: auto 1rem 1rem auto;
  color: #fff;
  background: var(--color-neutral-060);
}
[name="import"] button:hover {
  background: var(--color-neutral-050);
}
[name="import"] button:active {
  background: var(--color-neutral-030);
}
[name="import"] button[disabled] path:last-child {
  opacity: 0;
}
[role="log"] {
  margin: 0 0 1rem;
  font: .75rem / 1.5 var(--font-mono);
  color: var(--color-neutral-050);
  transition: var(--transition);
  transition-property: opacity;
}
.log-entry {
  display: flex;
  gap: .75rem;
  white-space: nowrap;
}
.log-entry span:first-child {
  flex: 1;
}
.log-entry span:last-child {
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: all;
  cursor: pointer;
}

main {
  position: relative;
  flex: 0 0 65vw;
}
main form, .list {
  position: absolute;
  inset: 0 0 auto;
  padding: 2rem var(--padding);
  max-height: 100dvh;
  overflow: auto;
}
main form {
  inset: 0 10rem 0 -10rem;
  padding: 0 var(--padding);
  opacity: 0;
  pointer-events: none;
}
.list {
  display: flex;
  flex-direction: column;
  transition: var(--transition);
  transition-property: opacity, inset;
}
.list::after {
  content: "没搜到哦 (._.)";
  position: absolute;
  color: var(--color-neutral-070);
  transition: var(--transition);
  transition-property: opacity;
  opacity: 0;
}
.list:not(:has(> :not(.hidden)))::after {
  opacity: 1;
}
[data-mode] .list {
  opacity: 0;
  pointer-events: none;
  inset: 0 -10rem 0 10rem;
}
[data-mode="save"] [name="save"], [data-mode="view"] [name="view"] {
  opacity: 1;
  inset: 0;
  pointer-events: all;
}

.list li {
  margin: 0 0 1rem;
  max-height: 1.5rem;
  transition: var(--transition);
  transition-property: margin, max-height, opacity;
}
.list li:last-child {
  margin: 0;
}
.list li.hidden {
  margin: 0;
  max-height: 0;
}
@media (hover: hover) and (pointer: fine) {
  .list:has(:hover) li {
    opacity: .5;
  }
  .list li:hover {
    opacity: 1;
  }
}
.list a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  color: inherit;
}
a .book-slash {
  padding: 0 .25rem;
  color: var(--color-neutral-080);
}
a .book-title {
  max-width: 16rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a .book-author {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-neutral-050);
}
a .book-rating {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0 .5rem;
}
a .book-rating svg {
  margin: 0 -1px 0 0;
}
a [data-rating="1"] {
  color: hsl(48 92 70);
}
a [data-rating="2"] {
  color: hsl(46 94 68);
}
a [data-rating="3"] {
  color: hsl(44 96 64);
}
a [data-rating="4"] {
  color: hsl(42 98 62);
}
a [data-rating="5"] {
  color: hsl(40 100 60);
}
a .book-update {
  font-size: .9375rem;
  font-feature-settings: "tnum", var(--font-feature);
  letter-spacing: -1px;
  color: var(--color-neutral-070);
}
a .book-update span {
  margin: 0 -1px;
}
a .book-update span:last-child {
  display: inline-block;
  margin: 0 1px;
  transform: translateY(-8%);
}

[name="save"] fieldset {
  padding: 0 6rem 0 0;
}
[name="save"] fieldset:empty {
  position: absolute;
  inset: 0;
  background: url("/favicon.png") center / 15rem no-repeat;
  opacity: .5;
}
[name="save"] fieldset:empty + footer {
  display: none;
}
[name="save"] footer {
  padding: 2rem 0;
  text-align: center;
}
[name="save"] nav {
  position: fixed;
  top: 0;
  right: 2rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  max-height: 100dvh;
  overflow: auto;
}
[name="save"] nav figure {
  cursor: pointer;
  opacity: .75;
}
[name="save"] nav figure:hover {
  opacity: 1;
}
[name="save"] nav figure:has([onload]) {
  opacity: 0;
  pointer-events: none;
}
[name="view"] .book-cover {
  position: sticky;
  top: 2rem;
}
[name="view"] footer {
  position: fixed;
  left: var(--padding);
  bottom: 2rem;
  transition: var(--transition);
  transition-property: opacity;
}
[data-auth] [name="view"] footer {
  opacity: 0;
  pointer-events: none;
}

fieldset:disabled + footer button[type="submit"] {
  opacity: 0;
  pointer-events: none;
}
fieldset:not(:disabled) + footer button[type="reset"] {
  color: var(--color-neutral-040);
  background: hsl(40 100 80);
}
fieldset:disabled input:hover, fieldset:disabled textarea:hover,
fieldset:disabled .date:hover,
fieldset:disabled [role="textbox"]:hover {
  background: transparent;
}
fieldset:disabled textarea {
  cursor: crosshair;
}
fieldset:disabled .date, fieldset:disabled .select, fieldset:disabled .book-rating {
  pointer-events: none;
}

article {
  display: flex;
  align-items: flex-start;
  gap: var(--padding);
  padding: 1.5rem 0 2rem;
}
article figure {
  position: relative;
  margin: 0 0 1rem;
}
article figure::before {
  content: "";
  position: absolute;
  height: 100%;
  aspect-ratio: 1;
  background: var(--color-neutral-095);
  border-radius: 50%;
  z-index: 0;
}
article img {
  position: relative;
  box-shadow: .5rem .5rem .5rem var(--color-neutral-01a);
}
article input {
  padding: .5rem;
  color: var(--color-neutral-050);
  background: transparent;
  field-sizing: content;
}
article textarea {
  font-size: .9375rem;
  background: transparent;
}
article input:hover, article textarea:hover {
  background: var(--color-neutral-100);
}
article input:focus, article textarea:focus {
  background: var(--color-neutral-095);
}
article .book-cover {
  flex: 0 0 clamp(8rem, 15vw, 10.7rem);
  padding: .125rem 0 0;
  text-align: center;
  transition: var(--transition);
  transition-property: opacity;
}
article .book-cover:has([onload]) {
  opacity: 0;
  pointer-events: none;
}
article .book-cover a {
  font-size: .75rem;
}
article .book-info {
  flex: 1 0 0;
}
article .book-meta {
  margin: .5rem 0 1.5rem;
}
article .book-meta > div {
  display: flex;
  align-items: center;
  color: var(--color-neutral-050);
}
article .book-meta > div:nth-child(2)::before {
  content: "更新";
  padding: 0 1rem 0 .5rem;
  white-space: nowrap;
}
article .book-update {
  white-space: nowrap;
}
article .book-update span {
  padding: 0 1px 0 0;
  font-feature-settings: "tnum", var(--font-feature);
  letter-spacing: -1px;
}
article .book-rating {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 0 0 .25rem;
}
article .book-rating label {
  color: var(--color-neutral-080);
  cursor: pointer;
}
article .book-rating label:hover,
article .book-rating label:hover ~ label {
  color: hsl(40 95 80);
}
article .book-rating label:has(input:checked),
article .book-rating label:has(input:checked) ~ label {
  color: hsl(40 100 65);
}
article .book-rating:hover label:has(input:checked),
article .book-rating:hover label:has(input:checked) ~ label {
  color: hsl(40 95 80);
}
article .book-rating label:has(input:checked) ~ label:hover,
article .book-rating label:has(input:checked) ~ label:hover ~ label,
article .book-rating label:hover ~ label:has(input:checked),
article .book-rating label:hover ~ label:has(input:checked) ~ label,
article .book-rating label:has(input:checked):hover,
article .book-rating label:has(input:checked):hover ~ label {
  color: hsl(40 100 65);
}
[data-name="title"] {
  font-size: 1.5rem;
}
[data-name="author"] {
  color: var(--color-neutral-040);
}
[data-name="words"]::after {
  content: " 万";
}
[data-name="latest"] {
  margin: 0 0 0 .75rem;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
[name="review"] {
  padding: 1rem .5rem;
  font-family: "Yozai", var(--font-sans);
  border-top: .125rem solid var(--color-neutral-090);
  border-bottom: .125rem solid var(--color-neutral-090);
  border-radius: 0;
}
[name="review"]:focus {
  background: var(--color-neutral-03a);
}

[contenteditable] {
  padding: .5rem;
  line-height: 1;
  border-radius: var(--radius);
  transition: var(--transition);
  transition-property: background;
}
[contenteditable="true"] {
  cursor: text;
}
[contenteditable="true"]:hover {
  background: var(--color-neutral-100);
}
[contenteditable="true"]:focus {
  background: var(--color-neutral-095);
}

.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
}
.hidden .list, .hidden form {
  transition-duration: 0s;
}

.spinner {
  position: absolute;
  opacity: 0;
  fill: none;
  stroke: currentColor;
  stroke-width: 2.5;
}
.spinner circle {
  transform-origin: center;
  animation:
    spin 2s linear infinite,
    dash 2s ease-in-out infinite;
}

.select {
  position: relative;
  font-size: .875rem;
  color: var(--color-neutral-050);
}
.select[role="combobox"] {
  margin: .5rem 0;
  cursor: text;
}
.select:focus-within {
  color: var(--color-neutral-040);
}
.select input {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.select:focus-within input {
  color: var(--color-neutral-040);
  background: var(--color-neutral-095);
}
.select [role="listbox"] {
  position: absolute;
  top: calc(100% + .5rem);
  width: 100%;
  line-height: 1.875rem;
  background: var(--color-neutral-09a);
  border-radius: var(--radius);
  backdrop-filter: blur(.25rem);
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transition: var(--transition);
  transition-property: opacity;
}
.select:focus-within [role="listbox"] {
  opacity: 1;
  pointer-events: all;
}
.select [role="option"] {
  text-align: center;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
  transition-property: background;
}
.select [role="option"]:hover {
  background: var(--color-neutral-02a);
}
.select [role="option"]:active {
  box-shadow: var(--shadow-sink);
}
.select [data-placeholder]::before {
  content: attr(data-placeholder);
}
.select[role="combobox"] [role="listbox"] {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: .25rem;
  padding: .5rem;
  cursor: crosshair;
}
.select[role="combobox"] [role="option"] {
  display: flex;
  align-items: center;
  padding: 0 .25rem;
  line-height: 1.5;
  background: var(--color-neutral-02a);
  border-radius: var(--radius);
}
.select[role="combobox"] [role="option"]:hover {
  background: #fff;
}
.select[role="combobox"] button {
  position: relative;
  left: .1rem;
  padding: 0;
  width: .875rem;
  height: .875rem;
  color: var(--color-neutral-060);
  background: transparent;
}
.select[role="combobox"] button::before,
.select[role="combobox"] button::after {
  content: "";
  position: absolute;
  width: .5rem;
  height: .0625rem;
  background: currentColor;
  top: 50%;
  left: 50%;
}
.select[role="combobox"] button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.select[role="combobox"] button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.select[role="combobox"] [role="option"] button:hover {
  color: var(--color-neutral-040);
  background: var(--color-neutral-090);
}
.select [role="textbox"] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .25rem;
  padding: .5rem;
  border-radius: var(--radius);
  pointer-events: none;
  transition: var(--transition);
  transition-property: background, box-shadow;
}
.select:hover [role="textbox"] {
  background: var(--color-neutral-100);
}
.select:focus-within [role="textbox"] {
  background: var(--color-neutral-095);
  pointer-events: all;
}
.select [contenteditable] {
  order: 1;
  padding: 0;
  min-width: 0;
  background: none;
}
.select:focus-within [contenteditable] {
  padding: 0 .25rem;
  min-width: 2rem;
}

.date {
  position: relative;
  display: flex;
  align-items: center;
  padding: .5rem;
  line-height: 1;
  user-select: none;
  transition: var(--transition);
  transition-property: background;
}
.date:hover {
  background: var(--color-neutral-100);
}
.date:focus-within {
  background: var(--color-neutral-095);
}
.date input {
  padding: 0 1px 0 0;
  height: .875rem;
  font-feature-settings: "tnum", var(--font-feature);
  letter-spacing: -1px;
  caret-color: transparent;
  cursor: pointer;
}
.date input:focus {
  color: #fff;
  background: var(--color-neutral-050);
}
.date label {
  position: absolute;
  inset: 0;
  opacity: 0;
  text-align: center;
}
@media (hover: hover) and (pointer: fine) {
  .date label {
    display: none;
  }
}

:root {
  --padding: max(2rem, calc(25vw - 18rem));
  --font-sans: "Punctuation", "Inter", -apple-system, "MiSans", "HarmonyOS Sans", "Source Han Sans SC", "Noto Sans CJK SC", "Noto Sans SC", "思源黑体", sans-serif;
  --font-mono: "Iosevka", monospace;
  --font-feature: "ss01", "cv06", "cv11";
  --radius: .125rem;
  --transition: .2s ease-in-out;
  --transition-cb: .3s cubic-bezier(.5, 0, .5, 1.5);
  --color-neutral-010: hsl(220 15 10);
  --color-neutral-020: hsl(225 15 20);
  --color-neutral-030: hsl(230 15 30);
  --color-neutral-040: hsl(235 14 40);
  --color-neutral-050: hsl(240 13 50);
  --color-neutral-060: hsl(245 15 60);
  --color-neutral-070: hsl(250 16 70);
  --color-neutral-080: hsl(255 18 80);
  --color-neutral-090: hsl(260 20 90);
  --color-neutral-095: hsl(265 20 95);
  --color-neutral-100: hsl(270 20 98);
  --color-neutral-00a: hsl(260 60 20 / .6);
  --color-neutral-01a: hsl(260 60 20 / .12);
  --color-neutral-02a: hsl(260 60 20 / .08);
  --color-neutral-03a: hsl(260 60 20 / .04);
  --color-neutral-09a: hsl(260 20 95 / .50);
  --color-neutral-10a: hsl(260 20 98 / .80);
}

@media (max-width: 60rem) {
  :root {
    --padding: 2rem;
  }
  html {
    overflow: hidden auto;
  }
  html:has([data-mode]) {
    overflow: hidden;
  }
  #app {
    position: relative;
    left: 0;
    flex-direction: column;
    transition: var(--transition);
    transition-property: left;
  }
  header {
    flex: 1;
  }
  header h1 {
    margin: -.125rem 0 0 0;
    font-size: 2rem;
    transition: var(--transition);
    transition-property: opacity;
  }
  header h1 span {
    display: inline-block;
  }
  header p {
    margin: .5rem 0 0;
  }
  header p svg {
    stroke-width: 2.5;
  }
  header p a, header p button {
    position: fixed;
    bottom: 2rem;
    left: var(--padding);
    padding: .5rem;
    color: var(--color-neutral-030);
    background: var(--color-neutral-01a);
    backdrop-filter: blur(.25rem);
    z-index: 9;
  }
  header p a {
    transform: rotate(180deg);
  }
  header:has(+ main [name="save"] article) [name="import"] {
    transform: translateY(-10rem);
    opacity: 0;
    pointer-events: none;
  }
  [name="filter"] {
    display: none;
  }
  [name="import"] {
    position: fixed;
    inset: 2rem var(--padding) auto;
    z-index: 1;
    transform: translateY(-10rem);
  }
  [role="log"] {
    display: none;
  }
  main {
    flex: 1;
  }
  main form, .list {
    position: static;
    max-height: none;
  }
  main form {
    position: fixed;
    inset: 0 -10rem 0 10rem;
    overflow: auto;
  }
  [data-mode] #app {
    left: -10rem;
  }
  [data-mode] h1 {
    opacity: 0;
  }
  [data-mode="save"] [name="save"], [data-mode="view"] [name="view"] {
    inset: 0;
  }
  .list {
    padding: 2rem var(--padding) 5.5rem;
  }
  a .book-title {
    max-width: none;
  }
  article .book-cover {
    flex: 0 0 clamp(6rem, 18vw, 10.7rem);
    margin: 0 min(2rem, 3vw);
  }
  [name="save"] fieldset:empty {
    position: static;
    background: none;
  }
  [name="view"] footer {
    left: 5rem;
  }
}

@media (max-width: 40rem) {
  header p a, header p button {
    left: unset;
    right: var(--padding);
  }
  main {
    font-size: .9375rem;
  }
  a .book-rating {
    margin: 0 0 1px auto;
    padding: 0;
  }
  a .book-update {
    display: none;
  }
  main form {
    padding: 0 calc(var(--padding) - .5rem);
  }
  [name="save"] nav {
    display: none;
  }
  [name="save"] fieldset {
    padding: 0;
  }
  [name="save"] footer {
    text-align: left;
  }
  [name="view"] fieldset {
    padding: 0 0 4rem;
  }
  [name="view"] footer {
    left: var(--padding);
  }
  [name="view"] footer button {
    backdrop-filter: blur(.25rem);
  }
  [name="view"] .book-cover {
    position: static;
  }
  article {
    display: block;
  }
  article figure, article img {
    height: max(10rem, 20vw);
  }
  article figure {
    margin: 0 0 .5rem;
  }
  article .book-cover {
    margin: .5rem auto 1rem;
    padding: 0;
  }
}

@media (max-width: 30rem) {
  :root {
    --padding: 1.5rem;
  }
  a .book-title {
    max-width: calc(100% - 9rem);
  }
  a .book-rating::before {
    content: attr(data-rating);
    font-size: .875rem;
    font-feature-settings: "tnum", var(--font-feature);
    line-height: 1;
  }
  a .book-rating svg {
    transform: translate(1px, 1px) scale(1.1);
  }
  a .book-rating svg:not(:first-child) {
    display: none;
  }
  [data-name="latest"] {
    max-width: calc(100% - 9rem);
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
@keyframes dash {
    0% { stroke-dasharray:  1 57; stroke-dashoffset:   0; }
   50% { stroke-dasharray: 38 57; stroke-dashoffset: -19; }
  100% { stroke-dasharray:  1 57; stroke-dashoffset: -57; }
}
@keyframes shake {
    0% { transform: translate(-.75rem); }
   17% { transform: translate(.75rem); }
   33% { transform: translate(-.5rem); }
   50% { transform: translate(.5rem); }
   67% { transform: translate(-.25rem); }
   83% { transform: translate(.25rem); }
  100% { transform: translate(0); }
}

@font-face {
  font-family: "Punctuation";
  src:
    local("MiSans"), local("HarmonyOS Sans"), local("Source Han Sans SC"), local("Noto Sans CJK SC"), local("Noto Sans SC"), local("思源黑体"),
    url("https://fonts.gstatic.com/s/notosanssc/v40/k3kCo84MPvpLmixcA63oeAL7Iqp5IZJF9bmaG9_FrYtHbQ.woff2") format("woff2");
  unicode-range: U+2018-201D;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local("Inter Variable"), local("InterVariable"), url("https://rsms.me/inter/font-files/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: "Iosevka";
  font-display: swap;
  font-weight: 400;
  src: local("Iosevka Term"), url("iosevka.woff2") format("woff2");
}