* {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}
:root {
  --padding: max(2rem, calc(25vw - 18rem));
  --font-sans: "Punctuation", "Inter", -apple-system, "MiSans", "HarmonyOS Sans", "Source Han Sans SC", "Noto Sans CJK SC", "Noto Sans SC", "思源黑体", sans-serif;
  --font-mono: "Iosevka", monospace;
  --font-feature: "ss01", "cv06", "cv11";
  --blur: .25rem;
  --radius: .125rem;
  --transition: .2s ease-in-out;
  --color-neutral-010: hsl(220 15 10);
  --color-neutral-020: hsl(225 15 20);
  --color-neutral-030: hsl(230 15 30);
  --color-neutral-040: hsl(235 14 40);
  --color-neutral-050: hsl(240 13 50);
  --color-neutral-060: hsl(245 15 60);
  --color-neutral-070: hsl(250 16 70);
  --color-neutral-080: hsl(255 18 80);
  --color-neutral-090: hsl(260 20 90);
  --color-neutral-095: hsl(265 20 95);
  --color-neutral-100: hsl(270 20 99);
  --color-neutral-00a: hsl(260 30 60 / .50);
  --color-neutral-01a: hsl(260 60 30 / .15);
  --color-neutral-02a: hsl(260 60 30 / .10);
  --color-neutral-03a: hsl(260 60 30 / .08);
  --color-neutral-04a: hsl(260 60 30 / .04);
  --color-neutral-09a: hsl(260 20 95 / .50);
  --color-neutral-10a: hsl(260 20 98 / .80);
  --color-amber-1: hsl(48 92 68);
  --color-amber-2: hsl(46 94 66);
  --color-amber-3: hsl(44 96 64);
  --color-amber-4: hsl(42 98 62);
  --color-amber-5: hsl(40 100 60);
  --color-amber-6: hsl(40 100 70);
  --color-amber-7: hsl(40 95 80);
  --color-amber-8: hsl(40 90 96);
  --color-amber-9: hsl(40 95 93 / .75);
  --color-white: #fff;
  --link-cl: var(--color-neutral-060);
  --link-cl-hover: var(--color-neutral-030);
  --link-cl-active: var(--link-cl-hover);
  --input-cl: var(--color-neutral-040);
  --input-bg: var(--color-neutral-09a);
  --input-bg-hover: var(--color-neutral-03a);
  --input-bg-focus: var(--color-amber-9);
  --field-bg-focus: var(--color-amber-8);
  --button-cl: var(--color-neutral-040);
  --button-bg: var(--color-neutral-03a);
  --button-cl-hover: var(--color-white);
  --button-bg-hover: var(--color-neutral-050);
  --button-cl-active: var(--button-cl-hover);
  --button-bg-active: var(--button-bg-hover);
}
::selection {
  background: var(--color-amber-8);
}

html {
  font-size: max(16px, 1vw);
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  cursor: crosshair;
  touch-action: manipulation;
  overscroll-behavior: contain;
  scrollbar-color: var(--color-neutral-00a) transparent;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
  &:has(dialog[open], [data-mode]) {
    overflow: clip;
  }
  @supports (-webkit-touch-callout: none) {
    font-size: 17px;
  }
}
body {
  font: 1rem/1.5 var(--font-sans);
  font-feature-settings: var(--font-feature);
  color: var(--color-neutral-030);
  background: var(--color-white);
  transition: opacity var(--transition);
}

a {
  color: var(--link-cl);
  text-decoration: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  transition-property: color, background, opacity;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--link-cl-hover);
    }
  }
  &:active {
    color: var(--link-cl-active);
  }
}

figure {
  display: grid;
  place-items: center;
  transition: opacity var(--transition);
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
svg {
  width: 1rem;
  height: 1rem;
  stroke-linecap: round;
  stroke-linejoin: round;
}

li {
  list-style-type: none;
}

form {
  display: block;
  margin: 0;
  padding: 0;
  font-size: .875rem;
  transition: var(--transition);
  transition-property: opacity, transform;
}
fieldset {
  display: block;
  min-width: 0;
}
label {
  position: relative;
  font: .875rem / 1 var(--font-sans);
  transition: color var(--transition);
}
button, input, textarea {
  padding: .5rem;
  font-family: var(--font-sans);
  font-feature-settings: var(--font-feature);
  font-size: .875rem;
  line-height: 1;
  color: var(--input-cl);
  background: var(--input-bg);
  border-radius: var(--radius);
  transition: var(--transition);
  transition-property: color, background, opacity;
}
button {
  display: inline-flex;
  align-items: center;
  color: var(--button-cl);
  background: var(--button-bg);
  cursor: pointer;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--button-cl-hover);
      background: var(--button-bg-hover);
    }
  }
  &:active {
    color: var(--button-cl-active);
    background: var(--button-bg-active);
  }
  &:disabled {
    cursor: crosshair;
    --button-bg-hover: var(--button-bg);
  }
  svg {
    transition: opacity var(--transition);
  }
}
input {
  height: 1.875rem;
  line-height: 1.875rem;
  &[type="date"] {
    pointer-events: none;
  }
  &[type="radio"] {
    display: none;
  }
  &[type="number"] {
    appearance: textfield;
  }
}
label input {
  padding: .5rem .5rem .5rem 2rem;
  &::placeholder {
    color: transparent;
  }
  + .label {
    position: absolute;
    inset: 0 .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--color-neutral-070);
    pointer-events: none;
    &::after {
      content: attr(aria-label);
      transition: opacity var(--transition);
    }
    svg {
      color: var(--color-neutral-050);
    }
  }
}
input:focus + .label::after, input:not(:placeholder-shown) + .label::after {
  opacity: 0;
}
input, textarea {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--input-bg-hover);
    }
  }
  &:focus {
    background: var(--input-bg-focus);
  }
  &:disabled {
    opacity: 1;
    cursor: crosshair;
    background: transparent;
  }
  &::placeholder {
    color: var(--color-neutral-070);
  }
  &::selection {
    background: var(--color-neutral-02a);
  }
}
textarea {
  display: block;
  width: 100%;
  font-size: .9375rem;
  line-height: 1.75;
  resize: none;
  &:focus {
    background: var(--field-bg-focus);
  }
}

.instant header, .instant main, .instant form {
  transition-duration: 0s !important;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
}

.spinner {
  position: absolute;
  opacity: 0;
  fill: none;
  stroke: currentColor;
  stroke-width: 2.25;
  circle {
    transform-origin: center;
    animation:
      spin 2s linear infinite,
      dash 2s ease-in-out infinite;
  }
}

.select {
  position: relative;
  width: fit-content;
  font-size: .875rem;
  color: var(--color-neutral-050);
  transition: color var(--transition);
  span {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    padding: 0 .5rem;
    line-height: 1.875rem;
    background: var(--input-bg);
    border-radius: var(--radius);
    backdrop-filter: blur(var(--blur));
    transition: background var(--transition);
  }
  ul {
    border-radius: var(--radius);
    pointer-events: none;
    transition: var(--transition);
    transition-property: background, opacity;
  }
  ul:last-child {
    position: absolute;
    top: calc(100% + .5rem);
    width: 100%;
    line-height: 1.875rem;
    background: var(--input-bg-focus);
    backdrop-filter: blur(var(--blur));
    opacity: 0;
    overflow: clip;
    z-index: 1;
  }
  li button {
    justify-content: center;
    padding: 0;
    width: .75rem;
    height: .75rem;
    --button-cl: var(--color-neutral-060);
    --button-bg: transparent;
    &::before, &::after {
      content: "";
      position: absolute;
      width: .5rem;
      height: .0625rem;
      background: currentColor;
      transform: rotate(-45deg);
    }
    &::before {
      transform: rotate(45deg);
    }
  }
  [role="option"] {
    text-align: center;
    transition: background var(--transition);
  }
  [aria-selected="true"] {
    pointer-events: none;
    background: var(--color-neutral-03a);
  }
  [aria-placeholder]:empty:after {
    content: attr(aria-placeholder);
    color: var(--color-neutral-070);
  }
  [aria-label]:empty:after {
    content: attr(aria-label);
    color: var(--color-neutral-060);
  }
  &[data-tab="-1"] {
    margin: .5rem 0;
    width: 100%;
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: .25rem;
      padding: .5rem;
    }
    ul:first-child {
      background: var(--input-bg);
      transition-property: background;
      [contenteditable] {
        order: 1;
        padding: .25rem;
        background: none;
        &:empty {
          padding: 0;
        }
      }
    }
    [role="option"] {
      padding: .25rem;
      line-height: 1;
      background: var(--color-neutral-03a);
      border-radius: var(--radius);
      --button-cl-hover: var(--color-neutral-100);
      &:has(button) {
        display: flex;
        align-items: center;
        gap: .125rem;
      }
    }
  }
}
.select[tabindex] {
  ul:first-child {
    cursor: text;
    pointer-events: auto;
  }
  span, [role="option"] {
    cursor: pointer;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      --input-bg: var(--input-bg-hover);
    }
  }
  &:focus-within {
    color: var(--color-neutral-040);
    user-select: none;
    --input-bg: var(--input-bg-focus);
    ul {
      pointer-events: auto;
    }
    ul:last-child {
      opacity: 1;
    }
    &[data-tab="-1"] {
      [contenteditable]:empty {
          padding: .25rem;
        }
      [aria-selected="true"] {
        pointer-events: auto;
      }
    }
    @media (hover: hover) and (pointer: fine) {
      [role="option"]:hover {
        background: var(--color-neutral-03a);
      }
      &[tabindex="-1"] [role="option"]:hover {
        background: var(--color-neutral-01a);
      }
    }
  }
}

.date {
  position: relative;
  display: flex;
  align-items: center;
  padding: .5rem;
  line-height: 1;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background var(--transition);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--input-bg-hover);
    }
  }
  &:focus-within {
    background: var(--input-bg-focus);
  }
  span {
    padding: 0 1px 0 0;
    height: .875rem;
    font-feature-settings: "tnum", var(--font-feature);
    letter-spacing: -1px;
    caret-color: transparent;
    &:focus {
      color: var(--color-amber-8);
      background: var(--color-neutral-050);
    }
    &[contenteditable="true"] {
      cursor: pointer;
    }
  }
  label {
    position: absolute;
    inset: 0;
    opacity: 0;
    text-align: center;
    @media (hover: hover) and (pointer: fine) {
      display: none;
    }
  }
}

[contenteditable] {
  padding: .5rem;
  line-height: 1;
  border-radius: var(--radius);
  transition: var(--transition);
  transition-property: color, background;
}
[contenteditable="true"] {
  cursor: text;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--input-bg-hover);
    }
  }
  &:focus {
    background: var(--input-bg-focus);
  }
  &::selection {
    background: var(--color-neutral-02a);
  }
}

#app {
  display: grid;
  grid-template-columns: clamp(21rem, 25vw + 6rem, 28rem) 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "left1  right"
    "left2  right"
    "left3  right";
  gap: 1.5rem;
  height: 100dvh;
  overflow: clip;
}
#app > [id] {
  min-height: 0;
  transition: var(--transition);
  transition-property: opacity, transform;
}

#notice {
  position: fixed;
  top: 3rem;
  left: 50%;
  padding: 1rem;
  font-size: .875rem;
  line-height: 1;
  white-space: nowrap;
  background: var(--color-amber-9);
  border-radius: var(--radius);
  box-shadow: 0 0 1rem #0013;
  backdrop-filter: blur(.25rem);
  transform: translate(-50%);
  transition: var(--transition);
  transition-property: opacity, transform;
  transition-delay: 0s, 0s;
  z-index: 3;
  &.hidden {
    transform: translate(-50%, -2rem);
    transition-delay: 0s, 2s;
  }
}

#dialog {
  --input-bg-focus: var(--color-white);
  &::backdrop {
    opacity: 0;
  }
  form {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background: var(--color-neutral-01a);
    backdrop-filter: blur(.5rem);
    z-index: 1;
  }
  label:has(input[readonly]) {
    animation: shake .6s linear;
  }
  input {
    --input-bg: var(--color-white);
    --input-bg-hover: var(--color-white);
    &:disabled {
      --input-bg: var(--color-neutral-095);
      + .label svg:last-child {
        opacity: 1;
      }
    }
  }
  .spinner {
    right: 0;
  }
}

#header {
  grid-area: left1;
  padding: 2rem 0 0 var(--padding);
  container-type: inline-size;
  h1 {
  margin: -.05em 0 0 -.02em;
  font-size: min(4rem, 14cqw);
  font-weight: 300;
  line-height: 1.25;
    span {
      display: inline-block;
    }
    strong {
      font-weight: inherit;
      color: var(--color-amber-5);
    }
  }
  p {
    display: none;
    margin: 1rem 0 0;
    font-family: "CooperZhengKai", var(--font-sans);
    color: var(--color-neutral-060);
  }
}

#widget {
  grid-area: left2;
  position: relative;
  padding: 0 0 0 var(--padding);
  line-height: 1.25rem;
  --button-cl: var(--color-neutral-060);
  --button-bg: transparent;
  &::before {
    content: "骗你的";
    font-family: "CooperZhengKai", var(--font-sans);
    color: var(--color-neutral-060);
  }
  a, button {
    position: absolute;
    margin: 0 0 0 .75rem;
    padding: .125rem;
    border-radius: 50%;
  }
  a {
    height: 1.25rem;
    color: var(--button-cl);
    background: var(--button-bg);
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--button-cl-hover);
        background: var(--button-bg-hover);
      }
    }
    &:active {
      color: var(--button-cl-active);
      background: var(--button-bg-active);
    }
    [data-auth]:not([data-mode]) & {
      opacity: 0;
      pointer-events: none;
    }
    path:nth-child(n + 3) {
      opacity: 0;
      transition: var(--transition);
      transition-property: opacity;
      [data-mode] & {
        opacity: 1;
      }
    }
  }
  button {
    opacity: 0;
    pointer-events: none;
    [data-auth="false"]:not([data-mode]) & {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

#filter, #import {
  grid-area: left3;
  align-self: end;
  padding: 0 0 2rem var(--padding);
}

#filter {
  --button-cl: var(--color-neutral-070);
  --button-bg: var(--color-neutral-04a);
  [data-auth="null"] & {
    pointer-events: none;
  }
  [data-mode] & {
    opacity: 0;
    transform: translate(10rem);
    pointer-events: none;
  }
  fieldset {
    display: flex;
    gap: .5rem;
    margin: .5rem 0 0;
    &:has(input:not(:placeholder-shown), [role="combobox"]:not(:empty)) button {
      pointer-events: auto;
      --button-cl: var(--color-neutral-040);
      --button-bg: var(--color-neutral-03a);
    }
  }
  button {
    margin: 0 0 0 .5rem;
    padding: .4375rem;
    pointer-events: none;
  }
  [name="search"] {
    width: clamp(9rem, 15vw, 12rem);
  }
  .select {
    color: var(--color-neutral-040);
    ul {
      top: unset;
      bottom: calc(100% + .5rem);
    }
  }
  > .select {
    margin: 0 .5rem 0 0;
    [aria-label]::after {
      content: attr(aria-label);
    }
    li {
      display: flex;
      align-items: center;
      gap: .5rem;
      padding: 0 .5rem;
      &::before {
        content: "";
        height: 1rem;
        width: 1rem;
        background: currentColor;
        mask: var(--svg) 0 0 / 100% no-repeat;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 12H3m0-7h18M9 19H3'/%3E%3C/svg%3E");
      }
      &[data-dir="asc"]::before {
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 19h18m-6-7H3m6-7H3'/%3E%3C/svg%3E");
      }
    }
    svg {
      color: var(--color-neutral-050);
    }
    path {
      transition: transform var(--transition);
    }
    [data-dir="asc"] path:first-child {
      transform: translate(0, .875rem);
    }
    [data-dir="asc"] path:last-child {
      transform: translate(0, -.875rem);
    }
  }
}

#import {
  position: relative;
  opacity: 0;
  transform: translate(-10rem);
  pointer-events: none;
  [data-mode="save"] & {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
  [name="urls"] {
    height: 9rem;
    font: .75rem / 1.5 var(--font-mono);
    white-space: nowrap;
    &.hidden {
      opacity: 1 !important;
      --input-cl: transparent;
    }
    &:focus + footer {
      --button-cl: var(--color-amber-8);
    }
    &:placeholder-shown + footer button[type="submit"] {
      opacity: .5;
      pointer-events: none;
    }
  }
  footer {
    position: absolute;
    inset: auto 1rem 3rem auto;
    --button-cl: var(--color-white);
    --button-bg: var(--color-neutral-060);
    button[type="reset"] {
      display: none;
    }
    button[type="submit"] {
      path:last-child {
        transition: opacity var(--transition);
      }
      &[disabled] path:last-child {
        opacity: 0;
      }
    }
  }
}

#list, #save, #view {
  grid-area: right;
  padding: 2rem var(--padding);
  max-height: 100dvh;
  overflow: clip auto;
}

#list {
  will-change: opacity, transform;
  [data-mode] & {
    opacity: 0;
    transform: translate(10rem);
    pointer-events: none;
  }
  ul {
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    transition-property: opacity, inset;
    &::after {
      content: "没搜到哦 (._.)";
      position: absolute;
      color: var(--color-neutral-070);
      opacity: 0;
      pointer-events: none;
      transition: opacity var(--transition);
    }
    &:empty::after {
      content: "数据没抓到哦 (._.)";
      inset: 0;
      display: grid;
      place-items: center;
    }
    &:not(:has(> li:not(.hidden)))::after {
      opacity: 1;
    }
    @media (hover: hover) and (pointer: fine) {
      &:has(:hover) li {
        opacity: .5;
      }
      li:hover {
        opacity: 1;
      }
    }
  }
  li {
    margin: 0 0 1rem;
    max-height: 1.5rem;
    transition: var(--transition);
    transition-property: margin, max-height, opacity;
    &:last-child {
      margin: 0;
    }
    &.hidden {
      margin: 0;
      max-height: 0;
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    white-space: nowrap;
    color: inherit;
  }
  .book-slash {
    flex-shrink: 0;
    padding: 0 .25rem;
    color: var(--color-neutral-080);
  }
  .book-title {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .book-author {
    flex-shrink: 0;
    max-width: calc(100% - 15rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-neutral-050);
  }
  .book-rating {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    padding: 0 .5rem;
  }
  .book-rating svg {
    margin: 0 -1px 0 0;
  }
  [data-rating="1"] {
    color: var(--color-amber-1);
  }
  [data-rating="2"] {
    color: var(--color-amber-2);
  }
  [data-rating="3"] {
    color: var(--color-amber-3);
  }
  [data-rating="4"] {
    color: var(--color-amber-4);
  }
  [data-rating="5"] {
    color: var(--color-amber-5);
  }
  .book-update {
    flex-shrink: 0;
    font-size: .9375rem;
    font-feature-settings: "tnum", var(--font-feature);
    letter-spacing: -1px;
    color: var(--color-neutral-070);
  }
  .book-update span {
    margin: 0 -1px;
  }
  .book-update span:last-child {
    display: inline-block;
    margin: 0 1px;
    transform: translateY(-8%);
  }
}

#save, #view {
  padding-block: 0;
  opacity: 0;
  transform: translate(-10rem);
  pointer-events: none;
  &:has(button[type="submit"]:disabled) {
    pointer-events: none;
  }
  button[type="submit"]:disabled {
    svg:first-child {
      opacity: 0;
    }
    svg:last-child {
      opacity: 1;
    }
  }
  fieldset:disabled + footer button[type="submit"] {
    opacity: 0;
    pointer-events: none;
  }
  fieldset:disabled .book-rating {
    pointer-events: none;
  }
  fieldset:disabled .date {
    cursor: crosshair;
    background: transparent;
  }
}

[data-mode="save"] #save, [data-mode="view"] #view {
  opacity: 1;
  transform: none;
  pointer-events: auto;
}

#save {
  position: relative;
  fieldset {
    display: flex;
    align-items: flex-start;
    gap: calc(var(--padding) / 2 + .5rem);
    &:empty {
      position: absolute;
      inset: 0;
      background: url("/favicon.png") center / 15rem no-repeat;
      opacity: .5;
    }
    &:empty + footer {
      display: none;
    }
  }
  footer {
    padding: 2rem 0;
    text-align: center;
  }
  nav {
    flex: 0 0 min(4rem, 5vw);
    position: sticky;
    top: 2.35rem;
    max-height: calc(100dvh - 4.35rem);
    overflow: clip auto;
    figure {
      margin: 1rem 0 0;
      cursor: pointer;
      opacity: .5;
      &:first-child {
        margin: 0;
      }
      &:has([onload]) {
        opacity: 0;
      }
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          opacity: 1;
        }
      }
    }
    img {
      border-radius: 0 .25rem .25rem 0;
    }
  }
  section {
    flex: 1;
    min-width: 0;
  }
  article {
    gap: calc(var(--padding) / 2);
    padding-block-end: 3rem;
  }
  .book-cover {
    flex: 0 0 max(7rem, 10vw);
  }
  [name="review"] {
    margin: 2.75rem .5rem 0;
    min-height: 8.5rem;
    border: 1px solid var(--color-neutral-03a);
  }
}

#view {
  footer {
    position: sticky;
    bottom: 2rem;
    transition: opacity var(--transition);
  }
  [data-auth] & {
    footer {
      opacity: 0;
      pointer-events: none;
    }
  }
  footer path[pathLength] {
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    transition: var(--transition);
    transition-property: opacity, stroke-dashoffset;
  }
  fieldset:disabled + footer path[pathLength] {
    stroke-dashoffset: 1;
    opacity: 0;
  }
}

article {
  display: flex;
  align-items: flex-start;
  gap: calc(var(--padding) / 2 + 1rem);
  padding: 2.35rem 0;
  min-width: 0;
  --input-cl: currentColor;
  --input-bg: transparent;
  --input-bg-hover: var(--color-neutral-09a);
  figure {
    margin: 0 0 1rem;
  }
  img {
    border-radius: 0 .75rem .75rem 0;
    box-shadow: .5rem .5rem 1rem #0013;
  }
  textarea {
    field-sizing: content;
  }
  .book-cover {
    flex: 0 0 max(10rem, 14vw);
    position: sticky;
    top: 2.35rem;
    text-align: center;
    transition: opacity var(--transition);
  }
  .book-cover:has([onload]) {
    opacity: 0;
    pointer-events: none;
    .instant & {
      opacity: 1;
      pointer-events: auto;
    }
  }
  .book-cover a {
    font-size: .75rem;
  }
  .book-info {
    flex: 1 0 0;
    min-width: 0;
  }
  .book-meta {
    margin: .5rem 0;
    &::after {
      content: "";
      display: block;
      margin: 2rem 25% 1.75rem;
      height: .125rem;
      background: var(--color-neutral-090);
    }
  }
  .book-meta > div {
    display: flex;
    align-items: center;
    color: var(--color-neutral-050);
  }
  .book-meta > div:nth-child(1) div:empty {
    flex: 1;
  }
  .book-meta > div:nth-child(2)::before {
    content: "更新";
    flex-shrink: 0;
    padding: 0 1rem 0 .5rem;
    white-space: nowrap;
  }
  .book-update {
    flex-shrink: 0;
    white-space: nowrap;
  }
  .book-update span {
    padding: 0 1px 0 0;
    font-feature-settings: "tnum", var(--font-feature);
    letter-spacing: -1px;
  }
  .book-rating {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 0 0 .25rem;
  }
  .book-rating label {
    color: var(--color-neutral-090);
    cursor: pointer;
  }
  .book-rating label:hover,
  .book-rating label:hover ~ label {
    color: var(--color-amber-7);
  }
  .book-rating label:has(input:checked),
  .book-rating label:has(input:checked) ~ label {
    color: var(--color-amber-6);
  }
  .book-rating:hover label:has(input:checked),
  .book-rating:hover label:has(input:checked) ~ label {
    color: var(--color-amber-7);
  }
  .book-rating label:has(input:checked) ~ label:hover,
  .book-rating label:has(input:checked) ~ label:hover ~ label,
  .book-rating label:hover ~ label:has(input:checked),
  .book-rating label:hover ~ label:has(input:checked) ~ label,
  .book-rating label:has(input:checked):hover,
  .book-rating label:has(input:checked):hover ~ label {
    color: var(--color-amber-6);
  }
  [data-name="title"] {
    margin: -.4em 0 0;
    font-size: 1.5rem;
    line-height: 1.25;
    padding: .375rem .5rem;
  }
  [data-name="author"] {
    color: var(--color-neutral-040);
  }
  [data-name="words"]::after {
    content: " 万";
  }
  [data-name="latest"] {
    margin: 0 0 0 .75rem;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  [name="review"] {
    font: 1rem / 1.5 "CooperZhengKai", var(--font-sans);
  }
}

@media (max-width: 60rem) {
  :root {
    --padding: 2rem;
  }
  #app {
    display: block;
    height: auto;
    overflow: visible;
  }
  #header {
    padding: 2rem var(--padding);
    [data-mode] & {
      opacity: 0;
      transform: translate(-10rem);
      pointer-events: none;
    }
    h1 {
      font-size: 2rem;
    }
    p {
      display: block;
      margin: .75rem 0 0;
    }
  }
  #widget, #filter {
    position: fixed;
    bottom: 2rem;
    padding: 0;
    z-index: 2;
    @media (display-mode: standalone) {
      bottom: 3rem;
    }
  }
  #widget {
    left: var(--padding);
    --button-cl: var(--color-neutral-040);
    --button-bg: var(--color-neutral-03a);
    &::before {
      content: none;
    }
    a, button {
      margin: 0;
      padding: .4375rem;
      border-radius: var(--radius);
      backdrop-filter: blur(var(--blur));
    }
    a {
      position: static;
      display: inline-block;
      height: 1.875rem;
      transform: rotate(180deg);
    }
  }
  #filter {
    right: var(--padding);
    display: flex;
    gap: .25rem;
    [data-mode] & {
      transform: translate(-10rem);
    }
    fieldset {
      display: contents;
    }
    label {
      display: none;
    }
    button {
      margin: 0;
    }
    button, input {
      backdrop-filter: blur(var(--blur));
    }
  }
  #import {
    position: fixed;
    inset: 2rem var(--padding) auto;
    padding: 0;
    z-index: 1;
    transform: translate(10rem);
    &:has(+ #save article) {
      transform: translate(0, -10rem);
      opacity: 0;
      pointer-events: none;
    }
    footer {
      bottom: 1rem;
    }
    [role="log"] {
      display: none;
    }
  }
  #list, #save, #view {
    max-height: none;
  }
  #list {
    position: static;
    padding: 2rem var(--padding) 6rem;
    @media (display-mode: standalone) {
      padding: 2rem var(--padding) 7rem;
    }
    [data-mode] & {
      transform: translate(-10rem);
    }
    [data-auth="null"] & ul::after {
      position: static;
      display: block;
    }
  }
  #save, #view {
    position: fixed;
    inset: 0;
    transform: translate(10rem);
    footer {
      display: flex;
      flex-direction: row-reverse;
      gap: .25rem;
      width: max-content;
      margin: 0 0 0 auto;
    }
    footer button {
      padding: .4375rem;
      backdrop-filter: blur(var(--blur));
    }
  }
  [data-mode="save"] #save, [data-mode="view"] #view {
    transform: none;
  }
  #save {
    fieldset, article {
      gap: var(--padding);
    }
    fieldset:empty {
      position: static;
      background: none;
    }
    nav {
      flex: 0 0 max(4rem, 8vw);
    }
    .book-cover {
      flex: 0 0 max(9rem, 12vw);
    }
  }
  #view {
    footer {
      @media (display-mode: standalone) {
        bottom: 3rem;
      }
    }
  }
  article {
    gap: var(--padding);
    padding: 2rem 0 4rem;
    .book-cover {
      flex: 0 0 max(12rem, 15vw);
    }
  }
}

@media (max-width: 40rem) {
  body {
    font-size: .9375rem;
  }
  #list {
    .book-rating {
      padding: 0 0 0 1rem;
    }
    .book-update {
      display: none;
    }
  }
  #save, #view {
    padding-inline: calc(var(--padding) - .5rem);
    fieldset {
      padding: 0 0 2rem;
      @media (display-mode: standalone) {
        padding: 0 0 3rem;
      }
    }
  }
  #save {
    article {
      padding: 2rem 0;
    }
    nav {
      display: none;
    }
    footer {
      padding: 0 .5rem 2rem 0;
      @media (display-mode: standalone) {
        padding: 0 .5rem 3rem 0;
      }
    }
  }
  #view {
    footer {
      padding: 0 .5rem 0 0;
    }
  }
  article {
    display: block;
    figure {
      margin: 0 0 .5rem;
    }
    figure, img {
      height: max(15rem, 30vw);
    }
    .book-cover {
      position: static;
    }
    [data-name="title"] {
      margin: 1rem 0 0;
    }
  }
}

@media (max-width: 30rem) {
  :root {
    --padding: 1.5rem;
  }
  #list {
    .book-rating::before {
      content: attr(data-rating);
      font-size: .875rem;
      font-feature-settings: "tnum", var(--font-feature);
      line-height: 1;
    }
    .book-rating svg {
      transform: translate(1px) scale(1.1);
    }
    .book-rating svg:not(:first-child) {
      display: none;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-neutral-010: hsl(270 20 99);
    --color-neutral-020: hsl(265 20 95);
    --color-neutral-030: hsl(260 20 90);
    --color-neutral-040: hsl(255 20 80);
    --color-neutral-050: hsl(250 20 70);
    --color-neutral-060: hsl(245 19 60);
    --color-neutral-070: hsl(240 15 50);
    --color-neutral-080: hsl(235 17 42);
    --color-neutral-090: hsl(230 20 35);
    --color-neutral-095: hsl(225 20 28);
    --color-neutral-100: hsl(220 20 21);
    --color-neutral-00a: hsl(260 20 70 / .50);
    --color-neutral-01a: hsl(260 40 90 / .20);
    --color-neutral-02a: hsl(260 40 90 / .15);
    --color-neutral-03a: hsl(260 40 90 / .10);
    --color-neutral-04a: hsl(260 40 90 / .05);
    --color-neutral-09a: hsl(260 40 90 / .10);
    --color-neutral-10a: hsl(260 25 20 / .80);
    --color-amber-1: hsl(48 60 60);
    --color-amber-2: hsl(46 70 62);
    --color-amber-3: hsl(44 80 64);
    --color-amber-4: hsl(42 90 66);
    --color-amber-5: hsl(40 100 68);
    --color-amber-6: hsl(40 100 70);
    --color-amber-7: hsl(50 10 40);
    --color-amber-8: hsl(240 10 25);
    --color-amber-9: hsl(240 10 30 / .75);
    --color-white: hsl(240 10 10);
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
@keyframes dash {
    0% { stroke-dasharray:  1 57; stroke-dashoffset:   0; }
   50% { stroke-dasharray: 38 57; stroke-dashoffset: -19; }
  100% { stroke-dasharray:  1 57; stroke-dashoffset: -57; }
}
@keyframes shake {
    0% { transform: translate(-.75rem); }
   17% { transform: translate(.75rem); }
   33% { transform: translate(-.5rem); }
   50% { transform: translate(.5rem); }
   67% { transform: translate(-.25rem); }
   83% { transform: translate(.25rem); }
  100% { transform: translate(0); }
}

@font-face {
  font-family: "Punctuation";
  src: local("PingFang SC"), local("MiSans"), local("HarmonyOS Sans"), local("Source Han Sans SC"), local("Noto Sans CJK SC"), local("Noto Sans SC"), local("思源黑体");
  unicode-range: U+2018-201D;
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  src: local("Inter Variable"), local("InterVariable"), url("https://rsms.me/inter/font-files/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: "Iosevka";
  font-display: swap;
  src: local("Iosevka Term"), local("Sarasa Term SC"), url("iosevka.woff2") format("woff2");
}
